* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1.2fr;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas:
    "aside header header"
    "aside projects announcements"
    "aside projects trending";
  height: 100vh;
  border: 2px solid black;
}

/* Side Bar Styles */

.side-bar {
  grid-area: aside;
  background-color: #1992d4;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1.1fr 1fr;
  gap: 10px;
}

.side-bar .nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

ul li {
  display: flex;
  align-items: center;
  margin: 3px 0;
}

ul li:hover {
  background-color: #0e6ea8;
  border-radius: 10px;
}

a,
.dashboard {
  font-size: 1.4rem;
}

.logo-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex: 1;
}

.logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "upper-left upper-right"
    "upper-left upper-right"
    "upper-left lower-right"
    "lower-left lower-right"
    "lower-left lower-right";
  width: 30px;
  height: 30px;
  gap: 4px;
  margin: 0 10px 0 15px;
}

.logo-child {
  background-color: white;
}

.upper-left {
  grid-area: upper-left;
}

.upper-right {
  grid-area: upper-right;
}

.lower-left {
  grid-area: lower-left;
}

.lower-right {
  grid-area: lower-right;
}

ul li {
  list-style: none;
  padding: 10px;
  font-size: 1.2rem;
}

li a {
  text-decoration: none;
  color: white;
}

.sidebar-icons {
  width: 10%;
  filter: invert(100%);
  margin: 0 10px;
}

/* Header Styles */

.icons {
  width: 5%;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "search notification"
    "user button";
}

.search-icon {
  width: 4%;
}

.search-container {
  grid-area: search;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0 10px;
}

.search-container input {
  border: none;
  outline: none;
  width: 60%;
  border-radius: 20px;
  padding: 10px 15px;
  background-color: #e2e8f0;
}

.notification-container {
  grid-area: notification;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.user-container {
  grid-area: user;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.user-container img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.user-container p {
  font-size: 1.2rem;
  margin: 0 10px;
}

.buttons-container {
  grid-area: button;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

/* .upper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
} */

/* .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
} */

.projects-container {
  grid-area: projects;
  background-color: burlywood;
}

.announcement {
  grid-area: announcements;
  background-color: coral;
}

.trending {
  grid-area: trending;
  background-color: darkcyan;
}
